@using TexasPetroleum.Enums

@model TexasPetroleum.ViewModels.ProfileVM

@{
        ViewBag.Title = "Edit";
}

<h2>Profile Management</h2>

<div class="container">
    <form action="Edit" method="post">
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.Name)
            </div>
            @Html.ValidationMessageFor(m => m.Name)
            <div class="row">
                @Html.EditorFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.AddressLine1)
                <dvi class="row">
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </dvi>
                
            </div>
            <div class="row">
                @Html.EditorFor(m => m.AddressLine1)
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.AddressLine2)
                @Html.ValidationMessageFor(m => m.AddressLine2)
            </div>
            <div class="row">
                @Html.EditorFor(m => m.AddressLine2)
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </div>
            <div class="row">
                @Html.EditorFor(m => m.City)
            </div>
        </div>
        <div class="form-group">
            <label for="inputState">State</label>
            @Html.ValidationMessageFor(m => m.StateOption)
            @Html.DropDownListFor(m => m.StateOption, new SelectList(Enum.GetValues(typeof(DisplayEnums.StateOptions))), "Select Option", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.Zipcode)
                @Html.ValidationMessageFor(m => m.Zipcode)
            </div>
            <div class="row">
                @Html.EditorFor(m => m.Zipcode)
            </div>
        </div>
        @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
        {
            <button>Save</button>
        }
    </form>
</div>

