@model IEnumerable<TexasPetroleum.ViewModels.QuoteVM>

@{
    ViewBag.Title = "QuoteHistory";
}

<h2>QuoteHistory</h2>

<p>
    @Html.ActionLink("Create New", "Edit", "Quote", null, new { @class = "btn btn-lg btn-outline-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().GallonsRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AddressString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuggestedPrice)
        </th>
        <th>
            Total Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GallonsRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuggestedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
